.pokemon-container {
  padding: 10px;
  gap: 20px;
  text-align: center;
}

.pokemon-view {
  max-width: 100%;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


.pokemon-view > .pokemon-name {
  font-size: min(2rem, 7vw);
}

.pokemon-view > .pokemon-front-image {
  max-width: 100%;
  border: solid grey;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
}

.pokemon-view > .pokemon-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pokemon-view .flavor-message {
  margin: 5px 0;
  font-size: min(1.5rem, 5vw);
  border-bottom: solid saddlebrown;
  padding-bottom: 20px;
}

.pokemon-view .habitat-message {
  font-size: min(1.5rem, 5vw);
  border-radius: 10px 5px 10px 5px;
  background-color: #395507;
  padding: 10px;
  color: white;
}

.pokemon-view .habitat-message > h3 {
  margin: 0;
}

.pokemon-view .habitat-message > .habitat {
  font-size: min(1rem, 4vw);
}

.pokemon-view .evolution-message {
  padding: 10px;
  border: double darkslateblue 5px;
  border-radius: 20px 20px 5px 5px;

}

.pokemon-view .evolution-message > h3 {
  margin: 0;
}

.pokemon-view .evolution-message > .evolves-from {
  font-size: min(1rem, 4vw);
}

.pokemon-view .evolution-message > .evolution-name {
  font-size: min(1.5rem, 4vw);
}

.pokemon-view .evolution-message > .evolution-name > a {
  font-size: min(1.5rem, 5vw);
  text-decoration: underline solid transparent;
  transition: text-decoration 0.2s;
  color: #0066cf;
}

.pokemon-view .evolution-message > .evolution-name > a:hover {
  text-decoration: underline;
}

.pokemon-details {
  max-width: 100%;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.pokemon-details > .pokemon-game-icon {
  max-width: 100%;
}

.pokemon-details > ul,
.pokemon-details > ul > .title {
  margin: 0;
  padding: 0;
}

.pokemon-details > ul > .title {
  font-size: min(1.3rem, 7vw);
  border-bottom: #4b7ac7 solid 1px;
  padding: 5px;
}

.pokemon-details > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: solid rebeccapurple 5px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px black
}

.pokemon-details > ul > li {
  list-style: none;
  font-weight: bold;
  padding: 4px;
  border-radius: 5px;
  width: 80%;
  font-size: min(1rem, 5vw);
}

.pokemon-details > .types-container > li {
  color: white;
}

.pokemon-details > .types-container > .normal {
  background-color: #a7a778;
}

.pokemon-details > .types-container > .fire {
  background-color: #ee7f31;
}

.pokemon-details > .types-container > .water {
  background-color: #678fef;
}

.pokemon-details > .types-container > .grass {
  background-color: #77c650;
}

.pokemon-details > .types-container > .electric {
  background-color: #f6ce31;
}

.pokemon-details > .types-container > .ice {
  background-color: #97d6d7;
}

.pokemon-details > .types-container > .fighting {
  background-color: #be3029;
}

.pokemon-details > .types-container > .poison {
  background-color: #9f3fa0;
}

.pokemon-details > .types-container > .ground {
  background-color: #debe68;
}

.pokemon-details > .types-container > .flying {
  background-color: #a78fef;
}

.pokemon-details > .types-container > .psychic {
  background-color: #f65788;
}

.pokemon-details > .types-container > .bug {
  background-color: #a7b721;
}

.pokemon-details > .types-container > .rock {
  background-color: #b79f39;
}

.pokemon-details > .types-container > .ghost {
  background-color: #6f5798;
}

.pokemon-details > .types-container > .dark {
  background-color: #6f5748;
}

.pokemon-details > .types-container > .dragon {
  background-color: #6f38f7;
}

.pokemon-details > .types-container > .steel {
  background-color: #b7b7cf;
}

.pokemon-details > .types-container > .fairy {
  background-color: #eeb5bc;
}

.pokemon-details > .stats-container > .hp {
  background-color: green;
  color: white;
}

.pokemon-details > .stats-container > .attack {
  background-color: #ccccac;
}

.pokemon-details > .stats-container > .defense {
  background-color: #797ac8;
  color: white;
}

.pokemon-details > .stats-container > .special-attack {
  background-color: #15a4a4;
}

.pokemon-details > .stats-container > .special-defense {
  background-color: #2c27bf;
  color: white;

}

.pokemon-details > .stats-container > .speed {
  background-color: #d7d770;
}

.pokemon-details > .abilities-container > li {
  background-color: darkgoldenrod;
  color: white;
}

.pokemon-details > .pokemon-height,
.pokemon-details > .pokemon-weight {
  margin: 0;
  font-weight: bold;
  background-color: #1e455d;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

@media (min-width: 600px) {
  .pokemon-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px 15vw;
    gap: 20px;
    text-align: center;
  }
}
