.store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-container > input {
  width: 60%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.pokemon-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.pokemon-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  border-radius: 10px;
  box-shadow: black 1px 1px 10px;
  text-align: center;
  padding-bottom: 20px;
}

.pokemon-card > .pokemon-name,
.pokemon-card > .pokemon-type {
  margin: 0;
}

.pokemon-card > .pokemon-image {
  max-width: 100%;
}

.page-number-container {
  display: flex;
  gap: 10px;
}

.page-number-container > .page-number {
  font-size: 3rem;
  cursor: pointer;
}

.page-number-container > .next-page-number,
.page-number-container > .previous-page-number {
  cursor: pointer;
}

.page-number-container > img {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.page-number-container > *:hover {
  transform: scale(110%);
}