.store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-container > input {
  width: 60%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.pokemon-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.pokemon-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black;
  border-radius: 10px;
  box-shadow: black 1px 1px 10px;
  text-align: center;
}

.pokemon-card > a {
  width: 100%;
}

.pokemon-information > .pokemon-image {
  max-width: 100%;
}

.pokemon-information > .pokemon-name,
.pokemon-information > .pokemon-type {
  margin: 0;
}

.pokemon-information > .pokemon-type {
  margin-bottom: 10px;
}

.pokemon-card button {
  width: 100%;
  border: none;
  background-color: cadetblue;
  padding: 5px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.pokemon-card button:hover {
  color: yellow;
}

.pokemon-card > .add-form {
  width: 100%;
  display: flex;
}

.pokemon-card > .add-form > .add-button {
  flex-grow: 1;
  border-bottom-left-radius: 6px;
  background-color: rebeccapurple;
}

.pokemon-card > .add-form > .add-input {
  font-family: sans-serif;
  max-width: 60px;
  font-size: 1rem;
  text-align: center;
  border-bottom-right-radius: 6px;
}

.page-number-container {
  display: flex;
  gap: 10px;
}

.page-number-container > .page-number {
  font-size: 3rem;
  cursor: pointer;
}

.page-number-container > .next-page-number,
.page-number-container > .previous-page-number {
  cursor: pointer;
}

.page-number-container > img {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.page-number-container > *:not(.page-number):hover {
  transform: scale(110%);
}