* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Handlee', cursive;
  letter-spacing: 2px;
  word-spacing: 5px;
  position: relative;
}


.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #4b7ac7;
  color: white;
  cursor: pointer;
  font-size: min(1rem, 3vw);
  box-shadow: black 1px 5px 10px;;
}

.navbar > h2:hover {
  transform: scale(110%);
}
